<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="myForm" ng-controller="telecalling" ng-init="callingScreen()">
        <div class="form-group">


            <div class="form-group col-sm-6">
                <label  class="col-sm-3 control-label no-padding-right">Call Date</label><div class="col-sm-9">
                    <select  name="visit_date" ng-model="visit_date"  class="form-control"  ng-options="dates for dates in datecallback" ng-change="getTime()" required>
                        <option value="" selected="selected">Call Date</option>

                    </select>
                    <!--<input ng-model="date | date:'yyyy-MM-dd'" type="text">-->
                </div>

            </div>
            <div class="form-group col-sm-6">
                <label  class="col-sm-3 control-label no-padding-right">Call Time</label>
                <div class="col-sm-9">
                    <select  name="visit_time" ng-model="visit_time"   class="form-control"  ng-options="time for time in times" required >
                        <option value="" selected="selected">Call Time</option>

                    </select>
                </div>
            </div>
       <div>

       </div>


            </div>

        <button class="btn btn-warning" type="button"
                ng-click="getdateTime(codes.cust_uid ,codes.customerPhone)">Submit</button>
    </form>
</div>



