<div class="page-body">

    <div class="row">


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="widget">
                <div class="widget-header bordered-bottom bordered-themeprimary">
                    <span class="widget-caption">Telecalling</span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div id="horizontal-form">
                        <form class="form-horizontal" name="myForm" role="form" ng-controller="telecalling" ng-init="callingScreen()" ng-submit="screen($event)">
                            <div align="center">
                                <label style="color:green;margin-top: 0;">{{successTextAlert}}</label>
                            </div>
                            <div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">Mobile Number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-disabled="true" ng-model="codes.customerPhone"  name="customerPhone" ng-readonly="true" placeholder="Mobile Number" />
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">Status</label>
                                <div class="col-sm-9">
                                    <select  name="status" ng-model="status" ng-options="status.statusText for status in statuses track by status.csmCode" class="form-control" required   ng-change="changestatus()">
                                        <option value="" selected="selected">Status</option>

                                    </select>
                                    <!-- <select ng-model="center" name="center" ng-options="office.office for office in offices" class="form-control" required>
                                         &lt;!&ndash;<option value="">Select</option>&ndash;&gt;
                                     </select>-->

                                    <!--<p style="color:red" ng-show="myForm.emp_code.$error.required">Your Emp Code is required.</p>-->
                                </div>

                            </div>

                            <div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-disabled="true" id="Text2" name="name"  ng-model="codes.username"  placeholder="Name" />
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-disabled="true"  name="address" ng-model="codes.address" placeholder="Address"  />


                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="col-sm-3 control-label no-padding-right">Remark</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="remarks" ng-disabled="true"  ng-model="codes.remarks" placeholder="Remark" />
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-disabled="true"  name="city" ng-model="codes.city" ng-readonly="true"  placeholder="City" />
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">State</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-disabled="true" name="state" ng-model="codes.state" ng-readonly="true" placeholder="State" />
                                 <!--   <select  name="state" ng-model="state"  class="form-control"  ng-options="state.stateName for state in states track by state.stateCode" required>
                                        <option value="" selected="selected">State</option>
                                    </select>-->
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">Pincode</label>
                                <div class="col-sm-9">
                                <!--   <input type="text" class="form-control" name="pincode" ng-model="codes.pincode" ng-readonly="true" placeholder="Pincode" />-->
                                <input type="text" class="form-control" ng-disabled="true" name="pincode" ng-model="codes.pincode"  placeholder="Pincode" />
                            </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">Sim Type</label>
                                <div class="col-sm-9">

                                  <input type="text" class="form-control" ng-disabled="true" name="simType" ng-model="codes.simType" ng-readonly="true" placeholder="Sim Type"/>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-disabled="true" name="email" ng-model="codes.email" placeholder="Email" />
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">Visit Date</label>
                                <div class="col-sm-9">
                                    <select  name="visit_date" ng-model="visit_date"  class="form-control"  ng-options="dates for dates in date" ng-change="getTimebyDate()" required>
                                        <option value="" selected="selected">Visit Date</option>

                                    </select>
                                    <!--<input ng-model="date | date:'yyyy-MM-dd'" type="text">-->
                                </div>

                            </div>
                            <div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">Visit Time</label>
                                <div class="col-sm-9">


                                    <select  name="visit_time" ng-model="visit_time"   class="form-control"  ng-options="time for time in times1" required>
                                        <option value="" selected="selected">Visit Time</option>

                                    </select>
                                </div>
                            </div>
                            <!--<div class="form-group col-sm-6">
                                <label  class="col-sm-3 control-label no-padding-right">Ext No</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="ext_no" ng-model="ext_no" placeholder="Ext No" />
                                </div>

                            </div>-->

                           <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-10">
                                    <button type="submit" class="btn btn-azure shiny" ng-disabled="myForm.state.$invalid || myForm.visit_date.$invalid || myForm.status.$invalid || myForm.visit_time.$invalid">Submit</button>
                                    <input type="button" value="Call" id="Call" ng-click="calling()" class="btn btn-azure shiny">
                                    <input type="button" value="AvailableSlot" id="AvailableSlot" ng-click="showchart(codes.pincode)" class="btn btn-azure shiny">
                                </div>
                            </div>

                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Modal Header</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Some text in the modal.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->
</div>
<!-- /Page Content -->
</div>
<!-- /Page Content -->
</div>
<!-- Main Container -->


