<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security-4.0.xsd">

       <http auto-config="true" >
              <intercept-url pattern="/" access="permitAll" />
              <intercept-url pattern="/home" access="permitAll" />
              <intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
              <intercept-url pattern="/dba**" access="hasRole('ADMIN') and hasRole('DBA')" />

              <form-login  login-page="/" login-processing-url="/j_spring_security_check"
                           username-parameter="ssoId" password-parameter="password"
                           authentication-failure-url="/" />
              <csrf disabled="true" />

             <!-- <form-login username-parameter='j_username' password-parameter='j_password' login-page='/login' authentication-failure-url="/login?error" default-target-url="/home"
                          authentication-success-handler-ref="authSuccessHandler" login-processing-url="/loginReq"/>-->

             <logout logout-url="/j_spring_security_logout" invalidate-session="true"  delete-cookies="JSESSIONID" />


      </http>
<!--    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="encoder" />
        </authentication-provider>
    </authentication-manager>-->

        <beans:bean id="encoder"
                    class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
            <beans:constructor-arg name="strength" value="5" />
        </beans:bean>

        <beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
               <beans:property name="userDetailsService" ref="userDetailsService"></beans:property>
        </beans:bean>
        <beans:bean  id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
             <beans:constructor-arg>
                    <beans:list >
                           <beans:ref bean="daoAuthenticationProvider"></beans:ref>
                    </beans:list>
             </beans:constructor-arg>

        </beans:bean>
        <beans:bean
                id="userDetailsService" class="com.softage.paytm.service.imp.UserDetailsServiceImp">
        </beans:bean>
        <authentication-manager>
               <authentication-provider user-service-ref="userDetailsService">
                   <password-encoder ref="encoder" />
               </authentication-provider>
        </authentication-manager>

</beans:beans>