
<html lang="en" ng-app="PaytmAuth">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Basic Styles-->
    <link href="/paytm/resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/paytm/resources/css/font-awesome.min.css" rel="stylesheet"/>

    <!--Beyond styles-->
    <link href="/paytm/resources/css/beyond.min.css" rel="stylesheet"/>
    <link href="/paytm/resources/css/animate.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/paytm/appfront/libs/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="/paytm/appfront/libs/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="/paytm/appfront/libs/app.css">

    <script src="/paytm/appfront/libs/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/paytm/appfront/libs/angular/angular.js"></script>
    <script src="/paytm/appfront/libs/angular-route/angular-route.js"></script>
    <script src="/paytm/appfront/app.js"></script>
    <script src="/paytm/appfront/auth/auth.js"></script>
    <script src="/paytm/appfront/components/version/version.js"></script>
    <script src="/paytm/appfront/components/version/version-directive.js"></script>
    <script src="/paytm/appfront/components/version/interpolate-filter.js"></script>
</head>




<div class="login-container animated fadeInDown">
    <h1>Reset Password</h1>
    <form name="myform" ng-controller="AuthCtrl" ng-submit="expire()" method="get" novalidate>
        <div class="loginbox bg-white" style="margin-bottom:20px;">
            <label id="show3" ng-show="show3" style="color: red;margin-left: 40px;">Password mismatch please enter again</label>
            <div class="loginbox-textbox">
                <input type="oldpassword" class="form-control" ng-model="oldpass" placeholder="Old Password"/>
            </div>
            <div class="loginbox-textbox">
                <input type="password" ng-pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,10}"
                       name="pass" class="form-control" ng-model="pass" placeholder="Password"/>
                <code>{{myForm.pass.$valid}}</code>
            </div>
            <div class="loginbox-textbox">
                <input type="password" class="form-control" ng-model="pass1" placeholder="Confirm Password"/>
            </div>
            <div class="loginbox-forgot">
            </div>
            <div class="loginbox-submit">
                <input type="submit" class="btn btn-azure shiny btn-block" value="Submit"/>
            </div>


        </div>
    </form>
    <div style="height:0px; clear:both;"></div>
</div>
</html>