<style>
    .checkbox, .radio {
        position: relative;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
    }

</style>

<!--ng-init="AoAuditInit()"-->
<div class="page-body" style="padding: 2px 5px 24px;" ng-controller="AoAudit" ng-init="AoAuditInit()">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="widget">
                    <div class="widget-body" style="overflow:hidden;">


                        <div style="overflow: auto; height: 400px;width: 100%" ng-model="image_source">

                            <img ng-src="{{image_source}}">

                        </div>



                        <div style="clear:both; height:10px;"></div>

                        <div class="col-sm-12">
                            <div class="col-sm-2" style="float: left;">

                                <button ng-click="previous()" class="btn btn-azure shiny">Previous</button>
                            </div>
                            <div class="col-sm-2" style="float: right;">

                                <button ng-click="next()" class="btn btn-azure shiny">Next</button>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">

                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-themeprimary">
                        <span class="widget-caption">AO Audit Interface</span>



                        <div class="widget-buttons">

                            <div style="display: inline-block; border:0px solid red;">

                                <div class="radio pull-left" style="padding:0 10px">

                                    <label>

                                        <input name="form-field-radio" type="radio"   ng-model="auto" value="automatic" ng-click="ChangeOnAutoSelect()">

                                        <span class="text">Auto</span>

                                    </label>

                                </div>

                                <div class="radio pull-right" style="margin:0px 5px 0 0px">

                                    <label>

                                        <input name="form-field-radio" type="radio" class="inverted" ng-model="auto" value="manual" ng-click="ChangeOnManual()">

                                        <span class="text">Manual</span>

                                    </label>

                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="widget-body" style="overflow:hidden;">
                        <div id="horizontal-form" >
                            <form class="form-horizontal" name="myForm1" role="form"   novalidate>

                                <div style="clear:both; height:5px;"></div>

                                <div  class="form-group col-sm-12 no-padding">
                                    <div class="col-sm-4" style="float: left;" ng-show="ShowButtonLable">

                                        <button type="button"  ng-click="AuditBasedOnCustNumber()" class="btn btn-azure shiny">Search</button>
                                    </div>


                                    <div class="col-sm-8" ng-show="ShowLable">
                                        <input type="text" class="form-control" placeholder="Search Customer Number"   name="ManualCustNumber" ng-model="ManualCustNumber" maxlength="10"/>
                                    </div>

                                    <div style="clear:both; height:5px;"></div>

                                    <label class="col-sm-4 control-label no-padding-center" style="padding-right:0px !important">Customer Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"     name="cust_number" ng-model="cust_number" ng-readonly="true" />
                                    </div>
                                    <div style="clear:both; height:5px;"></div>

                                    <label class="col-sm-4 control-label no-padding-center" style="padding-right:0px !important">Sim Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"    name="sim_number" ng-model="sim_number" ng-readonly="true" />
                                    </div>

                                    <div style="clear:both; height:5px;"></div>

                                    <label class="col-sm-4 control-label no-padding-center" style="padding-right:0px !important">Customer Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"     name="cust_name" ng-model="cust_name" ng-readonly="true" />
                                    </div>

                                    <div style="clear:both; height:5px;"></div>

                                    <label class="col-sm-4 control-label no-padding-center" style="padding-right:0px !important">Customer Address</label>

                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"   name="cust_address" ng-model="cust_address" ng-readonly="true" />
                                    </div>

                                    <div style="clear:both; height:5px;"></div>

                                    <label class="col-sm-4 control-label no-padding-center" style="padding-right:0px !important"  ng-if="circleStatus=='Rejected'">Circle Status</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"   name="circleStatus" ng-model="circleStatus"  ng-if="circleStatus=='Rejected'" ng-readonly="true" />
                                    </div>


                                    <div style="clear:both; height:5px;"></div>

                                    <label class="col-sm-4 control-label no-padding-center" style="padding-right:0px !important">Name Matched</label>
                                    <div class="col-sm-8">
                                        <select  name="name_matched" ng-model="name_matched" ng-change="disableAccept(name_matched)" class="form-control"  required>
                                            <option value="" selected="selected">Select</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div style="clear:both; height:5px;"></div>

                                    <label class="col-sm-4 control-label no-padding-center" style="padding-right:0px !important">Photo Matched</label>
                                    <div class="col-sm-8">
                                        <select  name="photo_matched" ng-model="photo_matched" ng-change="disableAccept(photo_matched)" class="form-control"  required>
                                            <option value="" selected="selected">Select</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div style="clear:both; height:5px;"></div>

                                    <label class="col-sm-4 control-label no-padding-center" style="padding-right:0px !important">Sign Matched</label>
                                    <div class="col-sm-8">
                                        <select  name="sign_matched" ng-model="sign_matched" ng-change="disableAccept(sign_matched)" class="form-control"  required>
                                            <option value="" selected="selected">Select</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div style="clear:both; height:5px;"></div>

                                    <label class="col-sm-4 control-label no-padding-center" style="padding-right:0px !important">DOB Matched</label>
                                    <div class="col-sm-8">
                                        <select  name="dob_matched" ng-model="dob_matched"  ng-change="disableAccept(dob_matched)" class="form-control"  required>
                                            <option value="" selected="selected">Select</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div style="clear:both; height:5px;"></div>

                                    <label class="col-sm-4 control-label no-padding-center" style="padding-right:0px !important">Other Reason</label>
                                    <div class="col-sm-8">
                                        <input name="other_reason" class="form-control" ng-model="other_reason" />
                                    </div>

                                    <div style="clear:both; height:10px;"></div>

                                    <div class="col-sm-12">
                                        <div class="col-sm-2" style="float: left;">

                                            <button ng-click="qcOK($event)" class="btn btn-azure shiny" ng-disabled="acceptFlag">Accept</button>
                                        </div>
                                        <div class="col-sm-2" style="float: right;">

                                            <button ng-click="qcReject($event)" class="btn btn-azure shiny" ng-disabled="rejectFlag">Reject</button>
                                        </div>

                                    </div>

                                </div>

                                <!--<div style="clear:both; height:5px;"></div>-->


                                <!--<div class="form-group col-sm-12">

                                    <div ng-if="abc" ng-controller="QCInterface">


                                        <iframe width="100%" height="400px" ng-src="{{trustSrc(resuri.src)}}"></iframe>


                                        <div style="clear:both; height:5px;"></div>

                                        <div class="form-group col-sm-7">


                                        <label  class="col-sm-3 control-label no-padding-center">Remarks</label>

                                            <div class="col-sm-9">

                                                  <textarea  class="form-control" style="width: 425px; height: 50px;" name="user_comment" ng-model="user_comment" required></textarea>
                                            </div>

                                            </div>

                                        <div class="form-group col-sm-5">
                                            <label class="col-sm-3 control-label no-padding-center">Rejected Pages</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control"   ng-minlength="3" ng-maxlength="15"  name="rejct_pages" ng-model="rejct_pages" placeholder="comma seprated value exp. 1,2,3,4...." />

                                            </div>
                                        </div>

                                        <div style="clear:both; height:5px;"></div>

                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-5 ">

                                            <button ng-click="qcOK($event)" class="btn btn-azure shiny"  >OK</button>
                                            <button ng-click="qcReject($event)" class="btn btn-azure shiny"  >Reject</button>

                                                </div>

                                            </div>


                                    </div>

                                </div>-->




                            </form>






                        </div>
                    </div>
                    <!-- /Page Body -->
                </div>
                <!-- /Page Content -->
            </div>

        </div>
        <!-- /Page Content -->
    </div>
    <!-- Main Container -->
</div>
