
<div class="page-body" style="padding: 2px 5px 24px;">

    <div class="row">


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">



                            <div class="widget-body">

                                 <div id="horizontal-form">
                                    <form class="form-horizontal" name="myForm" role="form" ng-submit="submit($event)" ng-controller="agentCtrl" novalidate>
                                       <!-- <div align="center">
                                            <label style="color:green;margin-top: 0;">{{successTextAlert}}</label>
                                        </div>-->
                                        <div class="form-group col-sm-6" >
                                            <label  class="col-sm-3 control-label no-padding-right" >Name</label>
                                           <div class="col-sm-9">
                                                <input type="text" class="form-control" minlength="2" maxlength="40"  name="agent_name" ng-model="name" id="Text5" placeholder=" Name" ng-pattern ="/^[a-zA-Z\s]*$/"  required/>
                                               <p class="alert" ng-show="myForm.name.$error.pattern">Numbers only, please.</p>


                                               <!-- <span class="help-inline" ng-show="submitted && myForm.email.$error.email">Invalid email</span>-->


                                            </div>

                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label for="agent_code" class="col-sm-3 control-label no-padding-right">Employee Code</label>
                                            <div class="col-sm-9">
                                                <!--<input type="text" class="form-control" ng-pattern="^[a-zA-Z].*" minlength="6" maxlength="12" name="agent_code" ng-model="agent_code" id="agent_code" placeholder="Agent Code"  validation="alpha|min_len:4|required" required/>-->
                                                <input type="text" class="form-control" ng-pattern="/^[a-zA-Z].*/i" minlength="6" maxlength="12" name="agent_code" ng-model="agent_code" id="agent_code" placeholder="Agent Code" required/>
                                            </div>
                                        </div>
                                       <!-- <div class="form-group col-sm-6" ng-show="false">
                                            <label for="agent_code" class="col-sm-3 control-label no-padding-right">
                                                SoftAge Employee
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control"  name="employee" ng-model="employee" placeholder="SoftAge Employee" />
                                            </div>
                                        </div>-->


                                        <div class="form-group col-sm-6">
                                            <label for="Text7" class="col-sm-3 control-label no-padding-right">Mobile Number</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" minlength="10" maxlength="10" id="Text7" name="phone" data-phone ng-model="phone"   placeholder="Mobile Number" ng-pattern="/^[0-9]+$/" required />
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label for="Text8" class="col-sm-3 control-label no-padding-right">Circle Office</label>
                                            <div class="col-sm-9">
                                                <!--<input type="text" class="form-control" ng-minlength="3" ng-maxlength="15" id="Text8" name="emp_code" ng-model="emp_code" placeholder="Emp code (if Softage employee)" allow-pattern="(\d|[a-z])" required/>-->
                                              <!-- <select  name="circle" ng-model="circle_office"  class="form-control"  ng-options="office for office in offices" required ng-change="getspokecode()">
                                                   <option value="">Select Circle Office</option>
                                               </select>-->
                                                <input  class="form-control"  name="circleoffice" data-phone ng-model="circleofiice" ng-readonly="true"/>
                                               <!-- <select ng-model="center" name="center" ng-options="office.office for office in offices" class="form-control" required>
                                                    &lt;!&ndash;<option value="">Select</option>&ndash;&gt;
                                                </select>-->
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label for="Text8" class="col-sm-3 control-label no-padding-right">Spoke Code</label>
                                            <div class="col-sm-9">
                                               <!-- <input type="text" class="form-control" id="Text2" ng-minlength="3" ng-maxlength="15" name="agent_spkcode" ng-model="user.agent_spkcode" placeholder="Agent Spoke code" allow-pattern="(\d|[a-z])" required/>-->
                                                <select id="Text8" name="spoke_code" class="form-control" required ng-model="spoke_code" ng-options="code for code in offices1">
                                                    <option value="" selected>Select Spoke Code</option>

                                                </select>

                                            </div>
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label for="Text3" class="col-sm-3 control-label no-padding-right">Available Slot</label>
                                            <div class="col-sm-9">
                                                <!-- <input type="text" class="form-control" id="Text3"  ng-minlength="3" ng-maxlength="15" name="pin_code" ng-model="user.pin_code" placeholder="Pin Codes" allow-pattern="^\d{5}(?:[-\s]\d{4})?$" required/>-->
                                                <select id="Text3" name="avl_time"  class="form-control" required ng-model="avl_time" onchange="Fspoke(this.txt)">
                                                    <option value="8 AM - 12 PM">8 AM - 12 PM</option>
                                                    <option value="9 AM - 1 PM">9 AM - 1 PM</option>
                                                    <option value="10 AM - 2 PM">10 AM - 2 PM</option>
                                                    <option value="11 AM - 3 PM">11 AM - 3 PM</option>
                                                    <option value="12 PM - 4 PM">12 PM - 4 PM</option>
                                                    <option value="1 PM - 5 PM">1 PM - 5 PM</option>
                                                    <option value="2 PM - 6 PM">2 PM - 6 PM</option>
                                                    <option value="Full Day">Full Day</option>

                                                </select>


                                            </div>
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-3 control-label no-padding-right">Alternative Number</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control"  ng-minlength="3" ng-maxlength="15"  name="Alternative_Number" ng-model="altr_number" placeholder="Alternative Number" />


                                            </div>
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label  class="col-sm-3 control-label no-padding-right">Pincode</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control"  minlength="6" maxlength="6"  name="pin_code" ng-model="pin_code"  placeholder="Pincode" required />

                                                <p  style="color:red" ng-show="myForm.pin_code.$error.minlength">*Pin code should be 6 digit.</p>

                                            </div>
                                        </div>
                                       <!-- <div class="form-group col-sm-6">
                                            <label  class="col-sm-3 control-label no-padding-right">Mulitple Pin</label>
                                            <div class="radio col-sm-3">
                                                <label>
                                                    <input type="radio" value="Y"  ng-model="multi_pin" name="PinMultiple" ng-checked="false"/>
                                                    <span class="text">Yes</span>
                                                </label>
                                            </div>
                                            <div class="radio col-sm-3">
                                                <label>
                                                    &lt;!&ndash;<input type="radio" value="N" ng-model="multi_pin" name="PinMultiple" ng-checked="true" />&ndash;&gt;
                                                    <input type="radio" value="N" ng-model="multi_pin" name="PinMultiple" ng-checked="multi_pin='N'" />
                                                    <span class="text" >No</span>
                                                </label>
                                            </div>
                                        </div>-->

            <!--                            <div class="form-group col-sm-6">
                                            <label  class="col-sm-3 control-label no-padding-right">Mulitple Pin</label>
                                            <div class="radio col-sm-3">
                                                <label>
                                                    <input type="radio" value="Y" ng-model="multi_pin" name="PinMultiple" ng-checked="false" />

                                                    <span class="text">Yes</span>
                                                </label>
                                            </div>
                                            <div class="radio col-sm-3">
                                                <label>
                                                    <input type="radio" value="N" ng-model="multi_pin" name="PinMultiple" ng-checked="true" />
                                                    &lt;!&ndash;<input type="radio" value="Y"  ng-model="multi_pin" name="PinMultiple" ng-checked="multi_pin='N'"/>&ndash;&gt;
                                                    <span class="text" >No</span>
                                                </label>
                                            </div>
                                        </div-->
                                        <div class="form-group col-sm-6">
                                            <label  class="col-sm-3 control-label no-padding-right">Email</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control"  ng-minlength="3" ng-maxlength="40"  name="email" ng-model="email"  placeholder="Email"  />


                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-5 col-sm-10">
                                              <input type="submit" class="btn btn-azure shiny" value="Submit" >
                                               <!-- <button type="button" class="btn btn-azure shiny">Submit</button>-->
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Content -->
</div>
<!-- Main Container -->
